
/* 모바일*/
@media ( max-width: 500px ) {

    *{
        margin:0;
        padding:0;
    }


    body{
        background-color:#2c3e50;
    }

    .clock h1{ 
        position: absolute;
        top:5px; 
        right: 5px;
        font-size:20px; 
        color:white; 
    }

    .form input{
        position: absolute;
        width:230px;
        height:35px;
        background-color:transparent;
        color:white;
        top:60px;
        margin-left: calc(50% - 115px);
        border: 0;
        outline: 0;
        border-bottom:2px solid;  
        z-index:1;
    }



    .toDoForm input{
        background-color:transparent;
        color:white;
        width:200px;
        height:35px;
        margin-left: calc(50% - 100px);
        margin-top:70px;
        border: 0;
        outline: 0;
        border-bottom:2px solid;  
    }


    .title, #btn{ 
        display: none;
    }
    
    
    .clicked{
        color:#c0392b;
    }
    
    .greeting{
        position: relative;
        top:70px;
        text-align: center; 
        font-size: 20px;
        z-index: 1;
    }
    
    .form, .greeting{
        display: none;
    }
    

   
    
    .showing{
        display: block;
    }
    
    
    .toDoListDiv{
        position: absolute;
        background-color:white; 
        width:100%;
        height: 100%;
        top:40px;
        margin:0 auto;
        padding:10px; 
    }
     

    
 
    
    .toDoListDiv ul{
        list-style:none;
        width:200px;
        word-break: break-all;
        margin:0 auto;
        margin-top:20px;
        line-height: 30px;
    }

     
    .toDoListDiv ul li span{
        font-weight: bold;
    }

 
 
}











/* PC */
@media ( min-width: 501px ) {
    *{
        margin:0;
        padding:0;
    }


    body{
        background-color:#2c3e50;
        color:white;
    } 
    
    
    .clock h1{  
        width:500px;
        height:50px; 
        margin:0 auto;
        margin-top:100px;
        text-align: center;
        font-size:120px; 
        transition: color .5s ease-in-out;
    }
     
    
    #btn{
        width:100px;
        height:25px; 
        margin-left: 46%;
        margin-top:30px;
    }
    
   

    .form input{
        background-color:transparent;
        color:white;
        width: 300px; 
        height: 30px;
        margin-top:130px; 
        border: 0;
        outline: 0;
        border-bottom:3px solid;
        margin-left: calc(50% - 150px);
    }



    .toDoForm input{
        background-color:transparent;
        color:white;
        width: 250px; 
        height: 30px; 
        margin-top:20px;
        border: 0;
        outline: 0;
        border-bottom:3px solid;
        margin-left: calc(50% - 125px); 
    }



    .clicked{
        color:#c0392b;
    }
    
    .greeting{
        text-align: center;
        margin-top: 110px;
        font-size: 30px;
    }
    
    .form, .greeting{
        display: none;
    }

    .showing{
        display: block;
    }
    

    
    .toDoListDiv{  
        width:300px;
        margin:0 auto;
        margin-top:10px;
        padding:10px; 
    }
      
    
    .toDoListDiv ul{
        list-style:none;
        width:230px;
        word-break: break-all;
        margin:0 auto;
        margin-top:20px;
        line-height: 30px;
    }

     
    .toDoListDiv ul li span{
        font-weight: bold;
    }
     


    .weather{
        position: absolute;
        top:10px;
        right: 10px;
    }
    
    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    
    .bgImg{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        z-index: -1;
        animation: fadeIn 0.5s linear;
    }
}

