
/* 모바일*/
@media ( max-width: 500px ) {

    *{
        margin:0;
        padding:0;
    }


    body{
        background-color:#fbc6fc;
    }



    .user{
        margin-left:-500px;
        position: absolute;
        top:0;
        width:80%;
        height:100%;
        background-color: rgb(165, 30, 30); 
        z-index: 21;
    }
    .user h3{
        z-index: 21;
    }


    #nameForm{
        position: absolute;
        top:50px;
        width:100%;
        height: calc(100% - 40px);
        background-color: white;
        display:none;
    }




    .clock h1{ 
        position: absolute;
        top:10px; 
        right:5px;
        font-size:20px; 
        color:white; 
    }

    .weather{
        position: absolute;
        top:55px;
        right:5px;
        color: black;
        font-weight: bold; 
        z-index:2;
    }


    input::placeholder{
        color:rgb(114, 111, 111);
    }

    .form input{
        position: absolute;
        top:50px;
        margin-left: calc(50% - 115px);
        width:230px;
        height:40px; 
        border:2px solid black;
        border-radius: 10px;
        outline: 0; 
        padding:0 5px;
        background-color:rgb(221, 220, 220);
        color:black; 
    }


    .form input:focus{
        background-color: white;
    }




    #writeToDo{
        display:none;
        position: absolute;
        bottom:0px;
        width:100%;
        height:120px;
        background-color:white;
        border-radius:10px 10px 0px 0px;
        z-index:20;
    }


    .blind{
        display:none;
        position: fixed; 
        width:100%;
        height:100%;
        background-color: black;
        opacity: 0.2; 
        z-index:19;
    }


    .toDoForm input{ 
        margin-left:10px;
        margin-top:15px;
        margin-bottom:15px; 
        width: calc(100% - 40px);
        height: 50px;
        font-size: 17px;
        border: 0;
        outline: 0;
        padding:0 5px; 
        background-color:transparent;
        color:black;
    }


    .title, #btn{ 
        display: none;
    }
    
    
    .clicked{
        color:#c0392b;
    }
    
    .greeting{
        width:400px;
        position: relative;
        top:10px;
        left:10px;
        color:white;
        text-align: left; 
        font-size: 20px;
        z-index: 1;
    }
    
    .form, .greeting{
        display: none;
    }


    .showing{
        display: block;
    }
    
    
   
    

    .toDoListDiv{
        position: absolute;
        top:50px;
        width:100%;
        height:calc(100% - 50px);
        margin:0 auto; 
        overflow-y: scroll;
        background-color:white; 
    }

    
     

    .writing{
        position: fixed;
        right: 20px;
        bottom:45px;
        width:60px;
        height: 60px;
        font-size:40px;
        line-height: 10px;
        background-color: #e44332;
        color:white;
        border: 0.5px solid #e73825;
        border-radius: 50%;
        outline:none;
    }

    .writing:active{
        position: fixed;
        right:30px;
        bottom:55px;
        width:40px;
        height: 40px;
        font-size:40px;
        line-height: 10px;
        background-color: white;
        color:#e44332;
        border: 0.5px solid #e73825;
        border-radius: 50%;
        outline:none;
    }
 
    
    .toDoListDiv ul{
        list-style:none;
        width:100%;
        word-break: break-all;
        margin:0 auto;
        margin-top:20px;
        line-height: 30px;
    }


    .toDoListDiv ul li{  
        border-top:0.7px solid rgb(204, 197, 197);
        padding-top:7px;
        padding-bottom:20px;
        padding-left:15px;
        width:calc(100% - 15px);
    }


    .toDoListDiv ul li:nth-child(1){
        margin-top:70px;  
    }

    .toDoListDiv ul li:nth-last-child(1) {  
        border-bottom:0.7px solid rgb(204, 197, 197); 
        margin-bottom:120px;
    }

    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    

    .js-toDoList button{
        width:20px;
        height:20px;   
        border-radius: 50%;
        border:1.3px solid rgb(161, 153, 153);
        background-color: white;
        outline:none;
        color:white;
    }


    .js-toDoList button:focus{
        background-color:rgb(165, 156, 156);
        animation: fadeIn 0.3s linear;
    } 
      

    #footer{
        position: absolute;
        bottom:0; 
        width: 100%;
        height: 30px; 
        background-color:rgba(0,0,0,0.1);
        border-top:1px solid black;
        font-size: 10px;
        text-align: center;
        line-height: 30px;
    }
 
}











/* PC */
@media ( min-width: 501px ) {
    *{
        margin:0;
        padding:0;
    }


    body{
        background-color:#fbc6fc;
        color:white;
    } 
    


    #watch{ 
        position: relative;
        top:140px;
    }


    #name{
        margin-top:280px;
    }
    
    .clock h1{  
        width:500px;
        height:50px; 
        margin:0 auto; 
        text-align: center;
        font-size:130px;
        transition: color .5s ease-in-out;
    }
 
    input::placeholder{
        color:white;
    }

    .form input{
        margin-left: calc(50% - 150px); 
        width: 300px; 
        height: 30px;
        border: 0;
        outline: 0;
        padding:0 7px;
        border-bottom:3px solid;
        background-color:transparent;
        color:white;
    }



    .toDoForm input{ 
        margin-left: calc(50% - 125px);
        width: 250px; 
        height: 30px; 
        border: 0;
        outline: 0;
        padding:0 7px;
        border-bottom:3px solid;
        background-color:transparent;
        color:white;
    }


    .clicked{
        color:#c0392b;
    }
    
    .greeting{
        text-align: center; 
        font-size: 30px;
    }
    
    .form, .greeting{
        display: none;
    }

    .showing{
        display: block;
    }
    

    
    .toDoListDiv{  
        margin:0 auto;
        margin-top:10px;
        width:300px;
        padding:10px; 
    }
      
    
    .toDoListDiv ul{
        list-style:none;
        width:230px;
        word-break: break-all;
        margin:0 auto;
        margin-top:20px;
        line-height: 30px;
    }

     
    .toDoListDiv ul li span{
        font-weight: bold;
    }
     


    .weather{
        position: absolute;
        top:10px;
        right: 10px;
        font-size: 20px;
        color: white;
        font-weight: bold;
    }
    
    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    
    .bgImg{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        filter: brightness(70%);
        z-index: -1;
        animation: fadeIn 0.5s linear;
    }



    #footer{
        position: absolute;
        bottom:0;
        width: 100%;
        height: 50px; 
        background-color:rgba(0,0,0,0.7);
        border-top:1px solid white;
        text-align: center;
        line-height: 50px;
    }
}

